/* This is the themes main stylesheet -- */

/* ------------- Globals -------------*/

/* Fonts */
.fonts {
font-family: 'Roboto', sans-serif;
font-family: 'PT Serif', serif;
}

/*font Declarations */
h1,h2,h3,h4,h5, h2.hero_overlay--title {
  font-family: 'PT Serif', serif!important;
}

p, a.hero_carousel--link, .top_bar--inner .menu>li>a,
.top_bar--inner input.search-field, .main_header--tel {
  font-family: 'Roboto', sans-serif!important;
}

/*Transitions*/
a.hero_carousel--link, .top_bar--inner .menu>li>a, .main_header--tel a {
	-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;
}

/* Global Button Styles */
a.hero_carousel--link {
  display: block;
  height: 40px;
  padding: 0 35px;
  float: left;
  background: #273864;
  color: #fff; line-height: 40px; text-align: left; font-size: 14px;
  min-width: 155px;
}

a.hero_carousel--link::after {
  display: block;
  content: url('../images/arrow.jpg');
  float: right;
  line-height: 40px;
  padding: 0 0 0 5px;
}

a.hero_carousel--link:hover {
  background: #fff;
  color: #273864;
}

/* ------------- Header - Main -------------*/

header.header {
  background: #273865;
  border-bottom: 1px solid #fff;
  margin: 0;
}

.main_header {
  padding: 15px 0;
}

.main_header--tel, .main_header--tel a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.main_header--tel a { font-weight: 600; }
.main_header--tel a:hover { color: #b2b2b2; }

/* Top bar -- Menu */

.top-bar, .top-bar ul {
  background-color: #273864!important;
  color: #fff;
  margin: 0 auto;
  padding: 0!important;
}

.top_bar--inner {
  border-top: 1px solid #fff;
}

.top_bar--inner .menu>li>a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  padding: .9rem 1rem;
}

.top_bar--inner .menu .active>a, .top_bar--inner .menu>li>a:hover {
  background: #1e2b4d;
}

.top_bar--inner input.search-field {
  float: left;
  margin: 0;
  width: 115px;
  background: #2f4171;
  color: #fff;
  font-size: 14px;
  border:0;
  box-shadow: none;
  height: 43px;
}

.top_bar--inner input.search-submit {
  width: 50px;
  height: 43px;
  float: left;
  background: url('../images/search-icon.jpg') no-repeat #2f4171;
  border: none;
  cursor: pointer;
  margin: 0;
}

.top_bar--inner input.search-submit::after {
  display: block;
  content: url('../images/search-icon.jpg');
}

.menu.medium-horizontal>li { float: left; }

.top-bar-right .menu {
  width: 80px;
  margin: 0 auto 15px auto;
}

.top-bar-right button.menu-icon {
    padding: 10px 20px 0 0;
}

.top-bar-right .menu>li>a {
  color: #fff;
}

/* ------------- Carousel - Main -------------*/

.hero_carousel--image {
  position: relative;
}

.hero_carousel--overlay {
  position: absolute;
  z-index: 1000;
  top:0;
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_carousel--inner {
  width: 100%;
}

h2.hero_carousel--title {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;;
  font-weight: 400;
  line-height: 45px;
}

/* ------------- Brands Carousel -------------*/

.brands {
  background: #f8f8f8;
  padding: 40px 0;
}

.brands-carousel .owl-item {
  float: left;
}

.brands_carousel--inner {
  overflow: hidden;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  display: none;
}




/* -------------  Media Queries  -------------*/

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  a.hero_carousel--link {
    min-width: 155px;
    margin: 0 auto;
    max-width: 215px;
    float: none;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .main_header--tel, .main_header--tel a {
      text-align: left;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .hero_carousel--inner {
    width: 480px;
    margin: 0 710px 0 0;
  }

  h2.hero_carousel--title {
    font-size: 50px;
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 25px;
  }
}

/*custom breakpoiunt */
@media screen and (max-width: 1180px) {
  .top_bar--inner input.search-submit, .top_bar--inner input.search-field {
    width: 100%;
  }

}
